#footer {
    width: 100%;
    background: #fdf5ef;
}
#footerArea {
    width: 960px;
    margin: 0 auto;
    padding: 0 40px;
    background: #fdf5ef;
}
.textArea {
    width: 960px;
    padding: 40px 0;
    font-size: 11pt;
}
.textArea p {color: rgba(0, 0, 0, 0.5);}
.font_italic {font-style: italic;}
.font_right {text-align: right;}